<header class="bg-gray-100 text-[#1f2328]">
  <div class="flex h-[56px] shrink-0 items-center px-3 sm:h-[72px] sm:px-5">
    <button
      type="button"
      class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-[#d0d7de] text-[#57606a] hover:bg-[#f6f8fa] hover:text-[#1f2328] sm:h-10 sm:w-10"
    >
      <lucide-icon
        [img]="Menu"
        [size]="16"
        class="sm:[&_svg]:h-[18px] sm:[&_svg]:w-[18px]"
      ></lucide-icon>
    </button>

    <img src="/github-logo.svg" alt="GitHub" class="ml-3 h-5 w-5 invert sm:ml-5 sm:h-7 sm:w-7" />

    <span class="ml-3 truncate text-sm font-semibold sm:ml-5 sm:text-lg"> {{ username() }} </span>

    <div class="flex-1"></div>

    <div
      class="hidden h-9 w-64 items-center rounded-lg border border-[#d0d7de] bg-white px-4 text-[#57606a] lg:flex"
    >
      <lucide-icon [img]="Search" [size]="18"></lucide-icon>

      <span class="ml-3 text-[15px]">Type</span>

      <kbd class="ml-2 rounded border border-[#d0d7de] px-1.5 py-0.5 text-xs text-[#57606a]">
        /
      </kbd>

      <span class="ml-2 text-[15px]">to search</span>
    </div>

    <button
      type="button"
      class="flex h-8 w-8 items-center justify-center text-[#57606a] hover:text-[#1f2328] sm:h-9 sm:w-9 lg:hidden"
    >
      <lucide-icon [img]="Search" [size]="18"></lucide-icon>
    </button>

    @if (avatar_url()) {
      <img
        [src]="avatar_url()"
        alt="Profile"
        class="ml-2 h-6 w-6 shrink-0 rounded-full object-cover sm:ml-4 sm:h-8 sm:w-8"
      />
    } @else {
      <img
        src="https://github.com/identicons/placeholder.png"
        alt="Profile"
        class="ml-2 h-6 w-6 shrink-0 rounded-full object-cover sm:ml-4 sm:h-8 sm:w-8"
      />
    }
  </div>

  <nav
    class="flex h-[36px] shrink-0 items-center gap-1 overflow-x-auto border-b border-[#d0d7de] px-2 sm:h-[42px] sm:gap-2 sm:px-5"
  >
    @for (item of navMenu; track item.title) {
      <button
        type="button"
        (click)="selectMenu(item)"
        class="flex h-full shrink-0 items-center border-b-2 border-transparent px-1.5 text-sm text-[#1f2328] whitespace-nowrap hover:cursor-pointer sm:px-2 sm:text-md"
        [class.border-b-[#fd8c73]]="selectedMenu() === item.title"
        [class.font-semibold]="selectedMenu() === item.title"
      >
        <span
          class="flex items-center gap-1 rounded-md px-1.5 py-1.5 hover:bg-gray-200 sm:gap-2 sm:px-2"
        >
          <lucide-icon
            [img]="item.icon"
            [size]="18"
            class="hidden sm:block sm:[&_svg]:h-[22px] sm:[&_svg]:w-[22px]"
          ></lucide-icon>

          {{ item.title }}

          @if (item.count && repoCount()) {
            <span
              class="rounded-full bg-[#afb8c1]/20 px-1.5 py-0.5 text-[10px] font-semibold sm:px-2 sm:text-xs"
            >
              {{ repoCount() }}
            </span>
          }
        </span>
      </button>
    }
  </nav>
</header>
