@if (calendar) {
  <div class="mb-4">
    <span class="text-md text-[#57606a]">
      {{ calendar.totalContributions }} contributions in {{ selectedYear }}
    </span>
  </div>
}

<div class="w-full overflow-x-auto">
  <div #chart class="h-[180px] min-h-[180px] min-w-[800px]"></div>
</div>

<div class="mt-2 flex items-center justify-end gap-1 text-xs text-[#57606a]">
  <span>Less</span>

  <span class="h-3 w-3 rounded-sm bg-[#f0fdf4]"></span>
  <span class="h-3 w-3 rounded-sm bg-[#bbf7d0]"></span>
  <span class="h-3 w-3 rounded-sm bg-[#4ade80]"></span>
  <span class="h-3 w-3 rounded-sm bg-[#16a34a]"></span>
  <span class="h-3 w-3 rounded-sm bg-[#166534]"></span>

  <span>More</span>
</div>
